#AddUser{
display:none;
}
#ModUser{
display:none;
}
#DelUser{
display:none;
}
#AddAdmin{
display:none;
}
#DelAdmin{
display:none;
}

#AddMatch{
display:none;
}

#ModMatch{
display:none;
}

#DelMatch{
display:none;
}

ShowParis{
display:none;
}

AddParis{
display:none;
}
